arabic-reshaper==2.1.1
beautifulsoup4==4.9.3
certifi==2020.12.5
Django==2.2.13
django-bootstrap==0.2.4
django-bootstrap4==2.3.1
django-crispy-forms==1.11.0
django-jquery==3.1.0
django-ninja==0.11.0
django-phonenumber-field==5.0.0
django-tables2==2.3.4
django-widget-tweaks==1.4.8
future==0.18.2
html5lib==1.1
phonenumbers==8.12.20
phonenumberslite==8.12.20
Pillow==8.1.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pydantic==1.7.3
PyPDF2==1.26.0
pypng==0.0.20
PyQRCode==1.2.1
python-bidi==0.4.2
python-decouple==3.4
pytz==2021.1
pyzbar==0.1.8
qrtools==0.0.2
reportlab==3.5.59
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
tablib==3.0.0
webencodings==0.5.1
wincertstore==0.2
xhtml2pdf==0.2.5
